.navbar {
  background-color: #fff;
  padding: 1% 1% 1% 1%;
  &-box {
    margin-left: 18%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 33px;
      height: 33px;
    }
  }
  &-text p {
    line-height: 20%;
    margin-left: 15px;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #fff;
    padding: 4% 4% 4% 4%;
    wid &-box {
      width: 100%;
    }
    &-text p {
      width: 100px !important;
    }
  }
}
