.text-heading {
  color: white;
}

.testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  .slider {
    width: 55%;
    margin-top: 30px;
    overflow: hidden;

    &-box {
      width: 50px;
      height: 140px;
      margin-bottom: 50px;
      padding: 5%;
      text-align: left;

      .container {
        background-color: white;
        padding: 4%;
      }

      h1 {
        font-size: 32px;
        font-weight: bolder;
      }
    }
  }
}
